:root {
  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
}

body {
  font-family: "Poppins";
}

.Link {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0 7px;
  text-decoration: none;
  color: var(--black);
  transition: all;
  box-sizing: border-box;
  font-size: 1.1em;
  font-family: "Poppins";
  align-items: center;
  height: 15px;
  font-weight: 600;
}

.Link:hover {
  box-shadow: 0px 3px 0px 0px black;
}

.column {
  flex: 1 0;
  display: flex;
  justify-content: center;
}

.card-box {
  display: flex;
  margin-bottom: 20px;
}
.card {
  flex-grow: 1;
  border: none;
  box-shadow: 3px 3px 8px 0px var(--platinum);
}
.card:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.footer-links {
  text-decoration: none;
  margin: 3px;
  color: var(--platinum);
}
.footer-div {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  font-weight: 400;
}

.nav-style {
  color: var(--black);
  font-weight: 700;
  background-color: var(--platinum) !important;
}

/* addtocart page */

.chargesp {
  width: 100px;
  display: inline-flex;
  justify-content: flex-end;
}

@keyframes process {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
